body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

h1, h2 {
    color: #333;
    text-align: center;
}

form {
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
    width: 400px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"],
form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

#searchUsersResult,
#listPostsResult,
#viewPostResult,
#searchPostsByUserResult {
    margin-top: 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

#searchUsersResult p,
#listPostsResult p,
#viewPostResult p,
#searchPostsByUserResult p {
    margin: 0;
}
#btn-list{
    text-align: center;
}